a {
    color: #7BAEBF;
    padding: 0 1rem;
    text-align: end;
    text-transform: uppercase;
    text-decoration: none;
}

b {
    color: #7BAEBF;
    font-size: 10px;
    text-transform: uppercase;
}

body {
    background-image: url("images/back.png");
    background-attachment: fixed;
    background-color: transparent;
    background-repeat: repeat;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    width: hv;
}

h1 {
    font-family: 'Dawning of a New Day', cursive;
}

h2 {
    font-family: 'Dawning of a New Day', cursive;
    margin-bottom: 3%;
    text-align: center;
}

h3 {
    color: #7BaEBF;
    font-size: 15px;
}

i {
    color: #7BAEBF;
}

p {
    color: #476072;
}

/* Classes */

.background {
    background-image: url(images/back.png);
    background-color: #F9F9F9;
    background-attachment: fixed;
    background-repeat: repeat;
}

.bottom_container {
    background-color: #A0D7EA;
    border-top: 2px solid #7BAEBF;
    text-align: center;
    padding: 30px 0;
    width: 100%;
}

.center {
    text-align: center;
}

.col-3, .col-4 {
    border-right: 1px solid #7BAEBF;
}

.container-sm {
    padding: 10% 0%;
    width: 60%;
}

.left {
    text-align: left;
}

.mobile {
    height: 9rem;
    margin: 15% 0;
    }

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #A0D7EA;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    padding-left: 1rem;
    z-index: 2;
}

.projects {
width: 100%;
margin-bottom: 15%;
}

.projects_art {
    width: 100%;
    height: 9rem;
    margin-bottom: 5%;
    }

.skill_row {
    padding-left: 25%;
    width: 90%;
}

.welcome {
    position: relative;
    right: 50%;
    top:150px;
    text-align: right;
    z-index: 1;
}

/* Ids */

#about_img {
    width: 50%;
}

#backpack_img {
    opacity: 80%;
    padding: 80% 0 0 40%;
    position: relative;
    width: 110%;
}

#blueshape {
    margin: 0%;
    opacity: 80%;
    width: 90%;
    z-index: 0;
}

#books {
    position: relative;
    padding-top: 80%;
    padding-left: 50%;
    width: 130%;
}

#contact_img {
    width: 80%;
}

#pc_img {
    width: 120%;
}

#pencil_img {
    opacity: 90%;
    width: 100%;
}
